input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 25%;
}

input[type=text] {
  border: 2px solid blue;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

label{font-weight: bold;
    font-size: larger;
}